body {
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

#birthday {
  width: 100vw;
  height: 100vh;
  background-image: url("../../images/bucketlist.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

#birthday h1 {
  text-shadow: 0px 0px 50px black;
}

#input-birthday {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#input-date {
  width: 200px;
  color: black;
  border-top-right-radius: 50px 50px;
  border-top-left-radius: 50px 50px;
  border-bottom-right-radius: 50px 50px;
  border-bottom-left-radius: 50px 50px;
  text-align: center;
  border: 1px solid blue;
}

#button-life-leftover {
  color: black;
}

